binding.ligand_receptor.monomer.association_constant	1.3e-07
binding.ligand_receptor.monomer.dissociation_constant	0.0
binding.ligand_receptor.dimer.association_constant	0.25
binding.ligand_receptor.dimer.dissociation_constant	0.0
binding.lyn_receptor.constitutive.association_constant	0.05
binding.lyn_receptor.constitutive.dissociation_constant	20.0
binding.lyn_receptor.active.association_constant	0.05
binding.lyn_receptor.active.dissociation_constant	0.12
binding.syk_receptor.association_constant	0.06
binding.syk_receptor.dissociation_constant	20.0
transphosphorylation.lyn_kinase.constitutive.beta.phosphorylation_rate	30
transphosphorylation.lyn_kinase.constitutive.gamma.phosphorylation_rate	1
transphosphorylation.lyn_kinase.constitutive.linker.phosphorylation_rate	30
transphosphorylation.lyn_kinase.active.beta.phosphorylation_rate	100
transphosphorylation.lyn_kinase.active.gamma.phosphorylation_rate	3
transphosphorylation.lyn_kinase.active.linker.phosphorylation_rate	100
transphosphorylation.syk_kinase.aloop_unphosphorylated.phosphorylation_rate	100
transphosphorylation.syk_kinase.aloop_phosphorylated.phosphorylation_rate	200
dephosphorylation.receptor.dephosphorylation_rate	20.0
dephosphorylation.membrane_syk.dephosphorylation_rate	20.0
dephosphorylation.free_syk.dephosphorylation_rate	20.0
