attrdict
pqdict
sortedcontainers
frozendict
backports.cached_property
pyyaml
jinja2
pandas
numpy
scipy
jupyter
matplotlib
plotly_express
biopython
networkx
lark_parser
obj_tables
pydblite
parameterized
setuptools
