# Karr Lab
git+https://github.com/KarrLab/wc_utils.git#egg=wc_utils
git+https://github.com/KarrLab/bpforms.git#egg=bpforms[all]
git+https://github.com/KarrLab/bcforms.git#egg=bcforms[all]
git+https://github.com/KarrLab/obj_tables.git#egg=obj_tables[all]
