attrdict
configparser
networkx
git+https://github.com/KarrLab/obj_model.git#egg=obj_model
robpol86-sphinxcontrib-googleanalytics
six
Sphinx >= 1.6
sphinx_rtd_theme
sphinxcontrib-bibtex
sphinxcontrib-spelling
