biopython
configparser
networkx
numpy
git+https://github.com/KarrLab/obj_model.git#egg=obj_model
robpol86_sphinxcontrib_googleanalytics
six
sphinx >= 1.6
sphinx_rtd_theme
sphinxcontrib_bibtex
sphinxcontrib_spelling
git+https://github.com/KarrLab/wc_utils.git#egg=wc_utils
